attrs==19.3.0
Automat==0.8.0
certifi==2019.11.28
chardet==3.0.4
constantly==15.1.0
dkimpy==1.0.3
dnspython==1.16.0
-e git+git@git-rw.torproject.org:gettor.git@3d6fb34e712f97d646b7502e62f6b6aba8a5382c#egg=gettor
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
more-itertools==8.2.0
oauthlib==3.1.0
packaging==20.1
pluggy==0.13.1
py==1.8.1
PyHamcrest==2.0.0
pyparsing==2.4.6
pytest==5.3.5
requests==2.22.0
requests-oauthlib==1.3.0
six==1.14.0
Twisted==22.4.0
urllib3==1.25.8
wcwidth==0.1.8
zope.interface==4.7.1
